Repository ELTE-Soft/txtUML, pull requests merged in 2018-05, with the labels that each got.

#588 Cpp dialog extension
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/BuildSupport.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/CppExporterUtils.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/EnvironmentNotFoundException.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/wizardz/TxtUMLToCppGovernor.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/wizardz/TxtUMLToCppOptionsPage.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/wizardz/TxtUMLToCppPage.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/wizardz/TxtUMLToCppWizard.java
  dev/tests/hu.elte.txtuml.export.cpp.tests/src/hu/elte/txtuml/export/cpp/wizardz/CompileTests.java
Labels: category:cpp

#591 Fix sub package export when it is duplacted in src-gen
  dev/plugins/hu.elte.txtuml.export.uml2/src/hu/elte/txtuml/export/uml2/BaseExporter.xtend
  dev/plugins/hu.elte.txtuml.export.uml2/src/hu/elte/txtuml/export/uml2/structural/ModelExporter.xtend
  dev/plugins/hu.elte.txtuml.export.uml2/src/hu/elte/txtuml/export/uml2/structural/PackageExporter.xtend
Labels: category:model-export

#594 Revert visualization refactoring
  dev/features/hu.elte.txtuml.feature/feature.xml
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/wizardz/TxtUMLToCppWizard.java
  dev/plugins/hu.elte.txtuml.export.javascript/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/Exporter.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/handlers/JavaScriptVisualizeSelectedDiagramsHandler.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/json/model/ExportationModel.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/json/model/cd/ClassDiagram.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/json/model/smd/SMDiagram.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/wizardz/JavaScriptVisualizeWizard.java
  dev/plugins/hu.elte.txtuml.export.papyrus/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/ArrangeException.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/IDiagramElementsArranger.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/txtumllayout/AbstractDiagramElementsTxtUmlArranger.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/txtumllayout/ClassDiagramElementsTxtUmlArranger.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/txtumllayout/CompositeDiagramElementsTxtUmlArranger.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/txtumllayout/LayoutVisualizerManager.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/elementsarrangers/txtumllayout/StateMachineDiagramElementsTxtUmlArranger.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/handlers/PapyrusVisualizeSelectedDiagramsHandler.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/layout/txtuml/LayoutExportException.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/layout/txtuml/TxtUMLElementsRegistry.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/layout/txtuml/TxtUMLExporter.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/layout/txtuml/TxtUMLLayoutDescriptor.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/papyrusmodelmanagers/AbstractPapyrusModelManager.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/papyrusmodelmanagers/DefaultPapyrusModelManager.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/papyrusmodelmanagers/TxtUMLPapyrusModelManager.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/utils/LayoutUtils.java
  dev/plugins/hu.elte.txtuml.export.papyrus/src/hu/elte/txtuml/export/papyrus/wizardz/PapyrusVisualizeWizard.java
  dev/plugins/hu.elte.txtuml.export.plantuml/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.export.plantuml/src/hu/elte/txtuml/export/plantuml/handlers/PlantUMLVisualizeSelectedDiagramsHandler.java
  dev/plugins/hu.elte.txtuml.export.plantuml/src/hu/elte/txtuml/export/plantuml/wizards/PlantUMLVisualizeWizard.java
  dev/plugins/hu.elte.txtuml.layout.export/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.layout.export/src/hu/elte/txtuml/layout/export/TxtUMLExporter.java
  dev/plugins/hu.elte.txtuml.layout.visualizer/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.utils.eclipse/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.utils.eclipse/src/hu/elte/txtuml/utils/eclipse/SaveUtils.java
  dev/plugins/hu.elte.txtuml.utils.eclipse/src/hu/elte/txtuml/utils/eclipse/WizardUtils.java
  dev/plugins/hu.elte.txtuml.utils.eclipse/src/hu/elte/txtuml/utils/eclipse/wizards/TxtUMLVisualizeWizard.java
  dev/plugins/hu.elte.txtuml.utils.eclipse/src/hu/elte/txtuml/utils/eclipse/wizards/VisualizeTxtUMLPage.java
  dev/plugins/hu.elte.txtuml.wizards/.classpath
  dev/plugins/hu.elte.txtuml.wizards/.gitignore
  dev/plugins/hu.elte.txtuml.wizards/.project
  dev/plugins/hu.elte.txtuml.wizards/META-INF/MANIFEST.MF
  dev/plugins/hu.elte.txtuml.wizards/build.properties
  dev/plugins/hu.elte.txtuml.wizards/plugin.xml
  dev/plugins/hu.elte.txtuml.wizards/pom.xml
  dev/plugins/hu.elte.txtuml.wizards/src/hu/elte/txtuml/wizards/Activator.java
  dev/plugins/hu.elte.txtuml.wizards/src/hu/elte/txtuml/wizards/UML2VisualizeWizard.java
  dev/releng/hu.elte.txtuml.parent/pom.xml
Labels: prio:high
