Repository ELTE-Soft/txtUML, pull requests merged in 2018-06, with the labels that each got.

#584 Sequence diagram assert
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/SequenceDiagramExecutor.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/base/AbstractModelClassRuntime.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/seqdiag/DefaultSeqDiagExecutor.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/seqdiag/DefaultSeqDiagModelClassRuntime.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/seqdiag/DefaultSeqDiagRuntime.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/seqdiag/InteractionThread.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/seqdiag/InvalidMessageSentListener.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/impl/seqdiag/SeqDiagModelExecutorThread.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/ErrorLevel.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/InvalidMessageError.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/LostMessageError.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/MessageError.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/MessageToDeletedError.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/ModelStateAssertError.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/PatternNotMetError.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/seqdiag/error/SequenceDiagramProblem.java
  dev/plugins/hu.elte.txtuml.api.model/src/hu/elte/txtuml/api/model/impl/InteractionRuntime.java
  dev/plugins/hu.elte.txtuml.api.model/src/hu/elte/txtuml/api/model/seqdiag/Sequence.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/FragmentsTests.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/SequenceDiagramTests.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/StateAssertTests.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/sequences/SequenceFragmentIF.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/sequences/SequenceFragmentLoop.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/sequences/SequencePar.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/sequences/SequenceStateAssertErr.java
  dev/tests/hu.elte.txtuml.api.model.execution.tests/src/hu/elte/txtuml/api/model/execution/seqdiag/sequences/SequenceStateAssertValid.java
Labels: prio:high, type:enhancement

#597 Sequence diagram examples
  dev/plugins/hu.elte.txtuml.validation/src/hu/elte/txtuml/validation/model/visitors/Utils.java
  dev/plugins/hu.elte.txtuml.validation/src/hu/elte/txtuml/validation/sequencediagram/visitors/SequenceDiagramVisitor.java
  dev/plugins/hu.elte.txtuml.validation/src/hu/elte/txtuml/validation/sequencediagram/visitors/Utils.java
  dev/tests/hu.elte.txtuml.validation.test/src/hu/elte/txtuml/validation/SequenceDiagramTest.java
  examples/demo/machine/src/machine1/j/test/Machine1SequenceDiagram.java
  examples/demo/machine/src/machine1/x/test/XMachine1SequenceDiagram.java
  examples/demo/machine/src/machine2/j/test/Machine2SequenceDiagram.java
  examples/demo/machine/src/machine2/x/test/XMachine2SequenceDiagram.java
  examples/demo/machine/src/machine3/j/test/Machine3SequenceDiagram.java
  examples/demo/machine/src/machine3/x/test/XMachine3SequenceDiagram.java
  examples/demo/monitoring/src/monitoring/x/test/XMonitoringSequenceDiagram.java
  examples/demo/producer_consumer/src/producer_consumer/j/test/ConsumerSequenceDiagram.java
  examples/demo/producer_consumer/src/producer_consumer/j/test/ProducerConsumerSequenceDiagram.java
  examples/demo/producer_consumer/src/producer_consumer/j/test/ProducerConsumerSequenceDiagramBase.java
  examples/demo/producer_consumer/src/producer_consumer/j/test/ProducerSequenceDiagram.java
  examples/demo/producer_consumer/src/producer_consumer/x/test/XConsumerSequenceDiagram.java
  examples/demo/producer_consumer/src/producer_consumer/x/test/XProducerConsumerSequenceDiagram.java
  examples/demo/producer_consumer/src/producer_consumer/x/test/XProducerConsumerSequenceDiagramBase.java
  examples/demo/producer_consumer/src/producer_consumer/x/test/XProducerSequenceDiagram.java
  examples/demo/train/src/train/j/test/TrainSequenceDiagram.java
  examples/demo/train/src/train/x/test/XTrainSequenceDiagram.java
Labels: category:examples

#602 Cpp hotfixes
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/AssociationUtils.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/ESRoot/Containers/ThreadSafeQueue.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/ESRoot/Elements.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/ESRoot/Types.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/InterfaceUtils.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/ModelObject.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/PortUtils.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/runtime.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/threadpool.cpp
  dev/plugins/hu.elte.txtuml.export.cpp/cpp-runtime/threadpool.hpp
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/CppExporterUtils.java
  dev/plugins/hu.elte.txtuml.export.cpp/src/hu/elte/txtuml/export/cpp/wizardz/TxtUMLToCppWizard.java
  dev/tests/hu.elte.txtuml.export.cpp.tests/src/hu/elte/txtuml/export/cpp/wizardz/CompileTests.java
  examples/demo/producer_consumer/src/producer_consumer/j/cpp/ProducerConsumerFixConfiguration.java
  examples/demo/producer_consumer/src/producer_consumer/x/cpp/XProducerConsumerFixConfiguration.java
  examples/demo/producer_consumer/src/producer_consumer/x/cpp/main.cpp
Labels: category:cpp

#596 Joint-JS state machine animation
  dev/plugins/hu.elte.txtuml.api.model.execution/.classpath
  dev/plugins/hu.elte.txtuml.api.model.execution/pom.xml
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/diagnostics/DiagnosticsServer.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/diagnostics/DiagnosticsService.java
  dev/plugins/hu.elte.txtuml.api.model.execution/src/hu/elte/txtuml/api/model/execution/diagnostics/protocol/GlobalSettings.java
  dev/plugins/hu.elte.txtuml.diagnostics/src/hu/elte/txtuml/diagnostics/DiagnosticsLaunchDelegate.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/ResourceHandler.java
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/animation.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/globals.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/main.css
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/panAndZoom.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/pollingRefresh.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/visualize.html
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/visualizer.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/visualizer/linkholders.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/visualizer/nodeholders.js
  dev/plugins/hu.elte.txtuml.export.javascript/src/hu/elte/txtuml/export/javascript/resources/res/visualizer/visualizers.js
Labels: category:visualization, type:enhancement
